.header {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  justify-content: space-between;
  background-color: var(--color-main);
  height: var(--height-toolbar);
  align-items: center;
  
  color: white;
}

.header__homelink {
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
  width: 100px;
  padding: 0 18px;
}

.header__logo {
  height: 48px;
  vertical-align: middle;
  margin-bottom: 6px;
}

.header__menu {
  width: 50px;
  height: var(--height-toolbar);
  vertical-align: middle;
  /* margin-bottom: 6px; */
  cursor: pointer;
  padding: 0 18px;
}

@media (max-width: 768px) {
  .header__nav{
    top: var(--height-toolbar);
    right: 0;
    background-color: var(--color-dark);
    display: none;
    /* display: inherit; */
    /* static이 아니기만 하면 기준이 되는건가 */
    position: absolute;    
  }

  .header__nav li {
    width: 100vw;
    text-align: center;
    padding :15px;
    border-bottom: 1px solid;
    border-color: white;
  }

  .header__nav li a {
    width: 100vw;
  }

}

@media (min-width: 769px) {
  .header__menu {
    display: none;
  }

  .header__nav ul li{
    display: inline-block;
  }
}
